.infoBox {
    width: 14rem;
    border-radius: .5rem;
    height: 7rem;
    margin: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    color: white;
    transform: translateY(0);
    transition: all .5s ease;
    cursor: pointer;
  }
  
  .infoBox:hover {
    transform: translateY(-.5rem);
  }
  
  .infoBox .span1 {
    padding: 2rem .5rem;
    color: white;
    font-style: none;
  }
  
  .infoBox .span2 {
    padding: 2rem .5rem;
    color: white;
    font-style: bold;
  }
